<h1>Rent History</h1>

<table class="table table-dark table-hover">
  <thead>
    <tr>
      <th>Action</th>
      <th>Room</th>
      <th>User</th>
      <th>Rent Start</th>
      <th>Rent End</th>
      <th>Created At</th>
    </tr>
  </thead>
  <tbody>
   
  </tbody>
</table>
