<div class="bill-list nested-fields">
  <%= form.collection_select :bill_id, BillList.all, :id, :list_typeName, { prompt: "เลือกรายการ" }, class: 'bill_list' %>
  <%= link_to_remove_association "ลบ", form %>
</div>
